In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from fuzzycocopython.model import FuzzyModel
from fuzzycocopython.params import Params

In [4]:
data = pd.read_csv('/Users/arthurbabey/Projects/FuzzyCoCo/fuzzycoco/Release/iris36.csv', sep=';')
X_train, X_test = train_test_split(data, test_size=0.5, random_state=1)

In [7]:
X_test

         CASE  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  OUT
30  subject81           7.4          2.8           6.1          1.9    1
34  subject90           6.9          3.1           5.4          2.1    1
28  subject77           6.2          2.8           4.8          1.8    1
3    subject5           5.0          3.6           1.4          0.2    0
19  subject53           7.1          3.0           5.9          2.1    1
17  subject47           5.1          3.8           1.6          0.2    0
21  subject57           4.9          2.5           4.5          1.7    1
23  subject61           6.5          3.2           5.1          2.0    1
29  subject80           7.2          3.0           5.8          1.6    1
26  subject74           6.3          2.7           4.9          1.8    1
27  subject76           7.2          3.2           6.0          1.8    1
33  subject87           6.3          3.4           5.6          2.4    1
24  subject62           6.4          2.7           5.3          1.9    1
25  subject72           5.6          2.8           4.9          2.0    1
4    subject7           4.6          3.4           1.4          0.3    0
2    subject4           4.6          3.1           1.5          0.2    0
14  subject35           4.9          3.1           1.5          0.2    0
10  subject30           4.7          3.2           1.6          0.2    0

In [6]:
X_train

         CASE  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  OUT
32  subject83           6.4          2.8           5.6          2.2    1
22  subject59           6.7          2.5           5.8          1.8    1
31  subject82           7.9          3.8           6.4          2.0    1
20  subject54           6.3          2.9           5.6          1.8    1
18  subject51           6.3          3.3           6.0          2.5    1
6   subject14           4.3          3.0           1.1          0.1    0
13  subject34           5.5          4.2           1.4          0.2    0
7   subject16           5.7          4.4           1.5          0.4    0
35  subject99           6.2          3.4           5.4          2.3    1
1    subject3           4.7          3.2           1.3          0.2    0
16  subject40           5.1          3.4           1.5          0.2    0
0    subject2           4.9          3.0           1.4          0.2    0
15  subject36           5.0          3.2           1.2          0.2    0
5   subject11           5.4          3.7           1.5          0.2    0
11  subject32           5.4          3.4           1.5          0.4    0
9   subject26           5.0          3.0           1.6          0.2    0
8   subject19           5.7          3.8           1.7          0.3    0
12  subject33           5.2          4.1           1.5          0.1    0

In [11]:
params = Params(seed=123)
model = FuzzyModel(params)

model = FuzzyModel(params)
model.fit(X_train)
predictions = model.predict(X_train)
predictions

##========================================================================
##FuzzyCocoScriptRunner::run()
## params: Fuzzy Coco Params:
===================
Global params:
| nb_rules | nb_max_var_per_rule | max_generations | max_fitness | nb_cooperators |
|----------|---------------------|-----------------|-------------|----------------|
        3 |                   3 |             100 |           0 |              2 |

Input Variables:
| nb_sets | nb_bits_vars | nb_bits_sets | nb_bit_pos |
|---------|--------------|--------------|------------|
       2 |            7 |            2 |          8 |

Output Variables:
| nb_sets | nb_bits_vars | nb_bits_sets | nb_bit_pos |
|---------|--------------|--------------|------------|
       2 |            1 |            1 |          1 |

defuzz threshold:ACTIVATED
output_vars_defuzz_thresholds:{0.5}
Rules params
| pop_size | elite_size | cx_prob | mut_flip_genome | mut_flip_bit |
|----------|------------|---------|-----------------|--------------|
      350 |         10 |       0 |               0 |            0 |

MFs (Membership Functions) params
| pop_size | elite_size | cx_prob | mut_flip_genome | mut_flip_bit |
|----------|------------|---------|-----------------|--------------|
      350 |         10 |       0 |               0 |            0 |

Fitness Metric Weights:
FuzzySystemMetrics: (sensitivity=1, specificity=1, accuracy=0, ppv=0, rmse=0.5, rrse=0, rae=0, mse=0, distanceThreshold=0.01, distanceMinThreshold=0, nb_vars=0, overLearn=0, TP=0, FP=0, TN=0, FN=0, )

##========================================================================

      0
0   1.0
1   1.0
2   1.0
3   1.0
4   0.0
5   0.0
6   0.0
7   1.0
8   0.0
9   0.0
10  0.0
11  0.0
12  0.0
13  0.0
14  0.0
15  0.0
16  0.0